.aprende{
    display: grid;
    place-items: center;
    padding-right: 45px;
    padding-left: 40px;
    
  }

  .aprende ul li{
    margin-bottom: 20px;
    list-style-type: none;
  }
  
  .aprende h1{
    display: grid;
    text-align: center;
  } 
  