
input[type=text], select, textarea {
    width: 300px;
    padding: 10px; }         

    
.form ol li{
    border-radius: 10px;
    padding-top: 20px;
    position: relative;
    border: 5px;
  }
  