
header{
    padding: 2px;
    padding-left: 10px;
    background-color: indianred;
 }


 .img-proyecto{
    width: 100px;
    border-radius: 50px;
  }



header nav{
    position: absolute;
    top: 50px;;
    right: 2px;
}
header nav ul { 
    list-style: none;
  }

  header nav ul li{
    display: inline-block
  }

  header nav ul li{
    padding: 5px}*


  header nav ul li a{
    text-decoration: none;
    color: rgb(12, 11, 11);
    font-size: 25px;
  }


  a:hover{
    color:yellowgreen;
    font-size: 20px;
    text-shadow: 10px 10px 10px;
    cursor: pointer;
  }
  

  
  header nav{
    position: relative;
    top: 2px;
  }
  


  header nav{
    position: relative;
    top: 2px;
  }
  header{
    margin-bottom: 20px;
  }
  
  
  