html {
    * {
        font-family: 'Playpen Sans', cursive;
    }

    .registra .escucha .ve .aprende {
        * {
            font-family: 'Playpen Sans', cursive;
        }

        text-decoration-color: black;
    }
}